.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.welcome-text{
  margin-top: 25vw;
}

ion-card-subtitle{
 color: white;
}

ion-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

ion-card {
  margin-top: 1em;
  margin-bottom: 1em;
}
